@namespace TcoCore
@inherits RenderableComplexComponentBase<TcoSignalInfo>

    

            <div class="col">
                <p>@AttributeNameOrTail()</p>
            </div>
            <RenderableContentControl Context="@Component.Signal"
                                      Presentation="Display"
                                      Class="col">
            </RenderableContentControl>

            
        
    @code {

            [Parameter]
            public TcoSignalInfo SignalInfo { get; set; }
        protected override void OnInitialized()
        {



            if (Component == null)
            {
                Component = SignalInfo;
            }
            UpdateValuesOnChange(Component);
        }

        private string AttributeNameOrTail()
        {
            if (string.IsNullOrEmpty(Component.AttributeName))
                return Component.GetSymbolTail();
            return Component.AttributeName;
        }
    }
