@inherits RenderableViewModelComponentBase<TcoTaskViewModel>
@namespace TcoCore 

<div class="d-flex flex-nowrap">
    @*<button @onclick="() => ViewModel.Component.Execute(null)"
            type="button"
            class="@ButtonState"
            disabled="@ViewModel.IsDisabled">
        @ButtonCaption
    </button>*@

    @if (IsTaskRunning)
    {
        @*<button type="button"
                class="p-2"
                style="background-color: transparent; border: none;"
                @onclick="() => ViewModel.Component.Abort.Execute(null)">
            <i class="far fa-times-circle"></i>
        </button>*@

        <button class="btn btn-primary" type="button" @onclick="() => ViewModel.Component.Abort.Execute(null)">
        <i class="far fa-times-circle"></i>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
         @ButtonCaption
        </button>
    } else
    {
        <button class="btn btn-primary" type="button" disabled="@ViewModel.IsDisabled" @onclick="() => ViewModel.Component.Execute(null)">
         @ButtonCaption
        </button>
    }

    @*is error*@
    @if (ViewModel.Component._taskState.Synchron == 30)
    {
        <button type="button"
                class="btn btn-danger"
                @onclick="() => ViewModel.Component.Restore.Execute(null)">
            <i class="far fa-times-circle"></i>
        </button>
    }
</div>
