/* Base style for all rows */
.table tbody tr {
    background-color: #ffffff; /* White background for all rows */
}

    /* Style for every second row */
    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2; /* Light grey background for every second row */
    }

/* Button styling */
button {
    background-color: #004a8f; /* Darker blue color */
    color: #ffffff; /* White text color */
    padding: 5px 10px; /* Padding for top/bottom and left/right */
    border: none; /* Remove default border */
    border-radius: 5px; /* Subtly rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
    cursor: pointer; /* Hand cursor on hover */
    transition: all 0.3s ease; /* Transition effect for hover state */
}

    /* Hover effect for the button */
    button:hover {
        background-color: #003366; /* Even darker blue color on hover */
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
    }

    button:focus {
        outline: none;
        box-shadow: none;
        background-color: #004a8f;
        color: #ffffff; /* White text color */
    }

    button:active {
        transform: scale(0.98); /* Slightly reduce the size of the button */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Reduced shadow when pressed */
    }

.disabled-button {
    background-color: #cccccc; /* Grey background */
    color: #666666; /* Darker grey text */
    cursor: not-allowed; /* No action cursor */
    pointer-events: none; /* Disable click events */
}

.custom-dropdown {
    padding: 5px 10px 5px 10px; /* Adjust padding: top, right, bottom, left */
    max-width : 15rem;
}

.custom-dropdown::after {
    content: '\25BC'; /* Unicode character for a small black down-pointing triangle */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Ensures the pseudo-element doesn't interfere with dropdown interactions */
    right: 5px; /* Adjust the position of the dropdown arrow */
}

.icon-container {
    font-size: 1.4rem;
}
.bg-trace {
    background-color: rgba(155, 198, 245, 0.5) !important; /* Very light gray with opacity */
}

.bg-debug {
    background-color: rgba(155, 198, 245, 0.5) !important; /* Soft blue with opacity */
}

.bg-info {
    background-color: rgba(138, 176, 211, 0.5)!important; /* Soft green with opacity */
}

.bg-timedout {
    background-color: rgba(64, 108, 158, 0.5)!important; /* Soft yellow with opacity */
}

.bg-notification {
    background-color: rgba(255, 230, 204, 0.5)!important; /* Soft orange with opacity */
}

.bg-warning {
    background-color: rgba(228, 146, 58, 0.5) !important; /* Soft peach with opacity */
}

.bg-error {
    background-color: rgba(245, 145, 145, 0.9) !important; /* Soft red with opacity */
}

.bg-programmingerror {
    background-color: rgba(255, 179, 179, 0.5)!important; /* Lighter red with opacity */
}

.bg-critical {
    background-color: rgba(184, 53, 53, 0.5)!important; /* Light crimson with opacity */
}

.bg-fatal {
    background-color: rgba(131, 38, 38, 0.5)!important; /* Moderate red with opacity */
}

.bg-catastrophic {
    background-color: rgba(151, 30, 30, 0.5)!important; /* Slightly deep red with opacity */
}
