/* Base style for all rows */
.table tbody tr {
    background-color: #ffffff; /* White background for all rows */
}

    /* Style for every second row */
    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2; /* Light grey background for every second row */
    }

/* Button styling */
button {
    background-color: #004a8f; /* Darker blue color */
    color: #ffffff; /* White text color */
    padding: 5px 10px; /* Padding for top/bottom and left/right */
    border: none; /* Remove default border */
    border-radius: 5px; /* Subtly rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
    cursor: pointer; /* Hand cursor on hover */
    transition: all 0.3s ease; /* Transition effect for hover state */
}

    /* Hover effect for the button */
    button:hover {
        background-color: #003366; /* Even darker blue color on hover */
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
    }

    button:focus {
        outline: none;
        box-shadow: none;
        background-color: #004a8f;
        color: #ffffff; /* White text color */
    }

    button:active {
        transform: scale(0.98); /* Slightly reduce the size of the button */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Reduced shadow when pressed */
    }

.disabled-button {
    background-color: #cccccc; /* Grey background */
    color: #666666; /* Darker grey text */
    cursor: not-allowed; /* No action cursor */
    pointer-events: none; /* Disable click events */
}

.custom-dropdown {
    padding: 5px 10px 5px 10px; /* Adjust padding: top, right, bottom, left */
    max-width : 15rem;
}

.custom-dropdown::after {
    content: '\25BC'; /* Unicode character for a small black down-pointing triangle */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Ensures the pseudo-element doesn't interfere with dropdown interactions */
    right: 5px; /* Adjust the position of the dropdown arrow */
}

