@namespace TcoCore
@inject NavigationManager _navigationManager


@if (DialogService.DialogVortex != null)
{
    <RenderableContentControl Context="DialogService.DialogVortex" Presentation="Dialog"></RenderableContentControl>
}


@*<button id="sendDialogInvoke" @onclick="Send" disabled="@(!IsConnected)" style="display:none">Send</button>*@
<button id="SendCloseButtonId" @onclick="SendClose" disabled="@(!IsConnected)" style="display:none">Send close</button>

@code {
    [Parameter]
    public DialogProxyServiceBlazor DialogService { get; set; }
    [Inject]
    public JsInteropDialog jsInterop { get; set; }


    private List<string> messages = new List<string>();
    private HubConnection hubConnection;
    public bool IsConnected =>
   hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsInterop.firstRenderComplete = true;
            DialogService.DialogInitializationCompleted += OnDialogRaised; // register with an event
        }


        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(_navigationManager.ToAbsoluteUri("/dialoghub"))
        .Build();


        hubConnection.On("ReceiveDialogOpen", async () =>
        {
            //await InvokeAsync(StateHasChanged);
            var nameOfType = DialogService.DialogVortex.GetType().Name;
            var dialogId = "#" + nameOfType + "DialogView";
            try
            {
                await jsInterop.ShowTcoDialog(dialogId);
            }
            catch (TaskCanceledException)
            {
                //swallow TaskCanceledException,
                //throw;
            }
            StateHasChanged();
        });

        hubConnection.On("ReceiveClose", async () =>
        {

            try
            {
                var nameOfType = DialogService.DialogVortex.GetType().Name;
                var dialogId = "#" + nameOfType + "DialogView";
                await jsInterop.HideTcoDialog(dialogId);
            }
            catch (TaskCanceledException)
            {
                //swallow TaskCanceledException,
                //throw;
            }
            StateHasChanged();
        });
        await hubConnection.StartAsync();
    }



    async Task Send()
    {
        await hubConnection.SendAsync("SendDialogOpen");
    }

    async Task SendClose()
    {
        await hubConnection.SendAsync("SendClose");
    }
    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    public async void OnDialogRaised()
    {
        await Send();
    }

}
