@page "/components"
<h3>Components</h3>

<RenderableContentControl Context="@Entry.PlcHammer.TECH_MAIN._app._station001._components"
                          Presentation="Service-Manual"></RenderableContentControl>

<RenderableContentControl Context="@Entry.PlcHammer.TECH_MAIN._app._station001._components._verticalPiston"
                          Presentation="Service-Manual"></RenderableContentControl>

@code {

}