@page "/diagnostics"
<h3>Diagnostics</h3>

<RenderableContentControl Context="@Entry.PlcHammer.TECH_MAIN._app"
                          Presentation="Diagnostics" />



@*<RenderableContentControl Context="@Entry.PlcHammer.TECH_MAIN._app._station001._messenger"
                          Presentation="Base" />*@
@code {

    protected override void OnInitialized()
    {
        TcoDiagnosticsViewModel.SetDefaultCategory(eMessageCategory.Fatal);
        TcoDiagnosticsView.SetDefaultDepth(7);
        base.OnInitialized();
    }
}
