@page "/security"

<h3>Security</h3>

<button class="btn btn-primary my-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Example</button>
<div class="collapse my-3" id="collapseExample">
    <ExampleView @ref="@exampleView"></ExampleView>
</div>

<AuthorizeView Roles="Administrator">
    <Authorized>
        <SecurityManagementView @ref="@securityManagementView"></SecurityManagementView>
    </Authorized>
    <NotAuthorized>
        <p>Sorry, you are not authorized to see user management. Please log in as administrator.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private SecurityManagementView securityManagementView { get; set; }
    private ExampleView exampleView { get; set; }
}
