@namespace TcoData
@inherits RenderableViewModelComponentBase<TcoDataExchangeViewModel>
<h3>TcoDataExchangeView</h3>



@*<div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>*@

<DataView DataViewModel="@ViewModel.DataViewModel"></DataView>

@code {

}
