@inherits RenderableComponentBase
@namespace TcoPneumatics
<h3>TcoCylinderServiceView</h3>

@ViewModel.Component._Identity.Cyclic
@ViewModel.Component._atWorkPos.Cyclic

@code
{
    [Parameter]
    public object Vortex { get; set; }

    TcoCylinderViewModel2 ViewModel { get; set; } = new TcoCylinderViewModel2();

    protected override void OnInitialized()
    {
        ViewModel.Model = Vortex;
        UpdateValuesOnChange(ViewModel.Component);
    }
}