@namespace TcoCore
@inherits RenderableComplexComponentBase<TcoSignalInfo>

<div class="d-flex flex-row">
    <p>@Component.HumanReadable</p>
    <RenderableContentControl Context="Component"
                              Presentation="Display">

    </RenderableContentControl>
</div>

@code {      
    
    protected override void OnInitialized()
    {
        UpdateValuesOnChange(Component);
    }
}
