name: nightly

on: 
  workflow_dispatch :
    branches :  
      - dev
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v2
        with :
          path : '.'
          fetch-depth: 0
      - name: Run Psake
        run: >
          .\pipelines\runbuild.ps1 -properties 
          @{
            "buildConfig" = "Release";
            "updateAssemblyInfo" = $true;
            "isTestingEnabled" = $true;
            "testingStrength" = 10;
            "packNugets" = $true;
          }
      - name : Create Tag
        if : env.BuildNumber && success() && github.event_name != 'pull_request'
        run : |
          git config --global user.email "gh-action@tcopengroup.com"
          git config --global user.name "gh-action"
          $tag = "GH-${{github.run_id}}-${{env.BuildNumber}}"
          git tag $tag 
          git push --tags
        continue-on-error: true
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Test report
          path: '**/TestResults/*.xml'   
          reporter: dotnet-trx 
      - name: Upload NuGets artifacts
        uses: actions/upload-artifact@v2 
        if: success()
        with:
          name: nugets
          path: ${{ github.workspace }}/nugets/*.nupkg
      - name: Upload PLC libraries
        uses: actions/upload-artifact@v2 
        if: success() 
        with:
          name: plcLibs
          path: ${{ github.workspace }}\plcLibs\*.library          
      - name: Cake-Draft-Release-OrgsNugets
        env:
	        ppp: ${{ secrets.TC_OPEN_GROUP_USER_PAT  }}
        run: >
          .\build.ps1      