@inherits RenderableViewModelComponentBase<TcoToggleTaskViewModel>
@namespace TcoCore

<button @onclick="() => ViewModel.TcoToggleTask.Execute(null)"
        type="button"
        class="btn btn-primary">
    @ViewModel.Caption
</button>

@code
{
    protected override void OnInitialized()
    {
        UpdateValuesOnChange(ViewModel.TcoToggleTask);
    }
}
